/* General styles */
body {
    font-family: Georgia;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffeece;
}

/* Header styles */
header {
    background: brown;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    margin-bottom: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

main .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

main .gallery img:hover {
    transform: scale(1.05);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Link styles */
a {
    color: #333;
}

a:hover {
    color: #007BFF;
}

/* Responsive design */
@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }
    
    main {
        margin: 1rem;

}

    }
}